.RTitle{
    position: static;
    color: rgb(15, 15, 15);
    padding-left: 100 px ;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Florence';
}
.Search input[type=text] {
    position: static;
    margin: 20px;
    font-size: 40px;
    font-family: 'Lato';
  }
  .Search{
    text-align: center;
    padding-bottom: 10px;
  }
  .Search  button {
    position: static;
    text-align: center;
    background: grey;
    border: 2px solid black; 
    border-radius: 8px;
    font-size: 40px;
    font-family: 'Florence';
    cursor: pointer;
  }
  .results{
    position: static;
    color: rgb(15, 15, 15);
    text-align: center;
    margin: 60px;
    padding-bottom: 100px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Florence';
}
  