.signupTitle{
    position: static;
    color: rgb(15, 15, 15);
    padding-left: 100 px ;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Florence';
}
.signupUsername input[type=text] {
    position: static;
    margin: 5px;
    font-size: 15px;
  }
  .signupUsername {
    border: black;
  }
  .signupPassword input[type=text] {
    position: static;
    margin: 5px;
    font-size: 15px;
  }

  .signupPassword{
    text-align: center;
    padding-bottom: 10px;
    border: black;
  }
  .signupPassword h2{
    color: rgb(15, 15, 15);
    font-size: 15px;
    font-family: 'Florence';
  }
  .signupUsername {
    text-align: center;
    padding-bottom: 10px;
  }
  .signupButton {
    text-align: center;
    padding-bottom: 200px;
  }
  .signupAllergies{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .signupButton button {
    position: static;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }