

img{

  padding: 5px;
  width: 150px;
}

  .background {
    width: 100%;
    height: 350px;
    background: url("erol-ahmed-wKTF65TcReY-unsplash.jpg");
    background-size: cover;
  }
  .logo{
    position: absolute;;
    top: 55px;
    left: 150px;
    height: 250px;
    width: 250px;
    z-index: 2;
  }
  .slogan{
    position: absolute;
    top: 120px;
    left:550px;
    z-index: 3;
    color: rgb(255, 250, 250);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Florence';
    white-space: pre-line;
  }
  
  .menu {
    float: left;
  }
  .menu ul {
    list-style: none;
    text-align: left;
    margin: 20px;
    padding: 30
  }
  .menu li {
    display: inline-block;
    padding: 0 5px;
  }
  .menu a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Florence';
  }
 
  .menu a:hover {
    text-align: left;
    text-decoration: underline;
  }
  .HTitle{
    color: rgb(15, 15, 15);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Florence';
  }
  .howTo{
    text-align: center;
    margin: 20px;
    padding-bottom: 300px;

  }
  
  footer {
    height: 40px;
    width: 100%;
    padding-top: .1px;
    background-color: rgb(24, 21, 21);
    color: white;
    text-align: center;
  }